__pycache__/
*.pyc
*.pyo
agentes.json
*.log
.streamlit/
static/
.env
mfa_config.json
apt_buffer.json
apt_campanas.json
xai_explicaciones.json
lateral_movement.json
fl_historial.json
retrain_historial.json
retrain_config.json
notificaciones.json
historico_ips.json
datasets/
models/lstm_centralizado.pt
models/lstm_federado_noniid.pt
nohup.out
fl_comparativa.json
